.especialidade-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 50px;
}

.medico-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

.especialidade-card-btn {
    display: flex;
    align-items: center;    
}

@media (max-width: 768px) {
    .card-content {
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .card-content {
        margin-left: 10px;
    }

    .medico-card-img-admin {
        height: 10px;
        width: 10px;
        margin: 5px 10px;
    }
}