.medico-details-container {
  margin-top: 40px 0px;
  padding: 0px 40px;
}

.medico-details {
  padding: 50px 60px 90px 60px;
}

.medico-details-goback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

.medico-details-icon-goback {
  color: #2d769a;
  transform: rotate(-180deg);
  margin-right: 30px;
}

.medico-details-text-goback {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
}

.medico-details-div-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.medico-details-card {
  border: 1px solid #E1E1E1;
  border-radius: 20px;
  padding: 38px 29px;
  width: 100%;
}

.medico-details-image {
  width: 343px;
  height: 353px;
}

.medico-details-name {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    margin-top: 35px;
    text-align: center;
}

.medico-details-specialty {
  font-size: 20px;
  line-height: 49px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #2d769a;
}

.medico-details-specialty-title {
  font-size: 30px;
  line-height: 49px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #2d769a;
}

.medico-details-info-card {
  padding: 40px 20px 40px 20px;
  width: 100%;
}

.medico-details-info-fields {
  width: 100%;
}

.medico-details-info-title {
  font-size: 22px;
}

.medico-details-large-text-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  margin-bottom: 10px;
  margin-top: 30px;
}

.medico-details-large-text-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}

@media (max-width: 768px) {

  .medico-details {
    display: flex;
    flex-direction: column;
  }

  .medico-details-div-info {
    flex-direction: column;
  }

  .medico-details-info-card {
    width: 530px;
    margin: 0 auto;
  }

  .medico-detais-info-fields {
    border: 0px;
    padding: 0px 10px;
    margin-bottom: 40px;
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media(max-width: 576px) {

  .medico-details-container {
    margin-top: 5px;
    padding: 10px;
  }

  .medico-details {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .medico-details-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .medico-details-image {
    width: 200px;
    height: 200px;
  }

  .medico-details-info-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .medico-details-info-card {
    width: 100%;
    margin-top: 10px;
  }

  .medico-details-large-text-text {
    width: 90%;
  }
}


