.medico-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
}

.medico-card-img-admin {
    height: 100px;
    width: 100px;
}

.medico-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}