.main-nav {
    width: 100% !important;
    height: 70px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 40px;
    margin: 0px; 
}

.nav-logo-text {
    color: #FFF;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    margin-right: 10px;
}

.main-menu {
    display: flex;
    justify-content: center;

    li {
        margin-right: 15px;
        margin-left: 15px;
    }    
}

.nav-link {
    font-size: 18px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);

    &.active {
         font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color: #FFF;
    }
}